<!-- Display a list of Gitlab contributors -->
<style type="text/css">
.glContributors{
display:flex;
flex-flow:  wrap;
align-content: flex-start;
background-color: beige;
margin-left: 10px;
}

.glContributors > div{
width: 50% ;
display: inline-flex;
margin-bottom: 5px;
}
.glContributors > div label{
padding-left: 4px ;
}
.glContributors > div span{
font-size: x-small;
padding-left: 4px ;
}

</style>
<div class="glContributors">
  {{ $url := .Get 0 }}
  {{ range getJSON $url }}
  <div>
    <label><a href="https://gitlab.com/{{.name}}">@{{.name}}</a></label>
    <span class="contributions">{{.commits}} commits</span>
  </div>
  {{ end }}
</div>