@charset "UTF-8";
@font-face {
  font-family: 'Novacento Sans Wide';
  src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot");
  src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-UltraLight-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-UltraLight-webfont.svg#novecento_sans_wideultralight") format("svg");
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  src: local("Roboto Mono Regular"), local("RobotoMono-Regular"), url("../fonts/RobotoMono-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"), url("../fonts/RobotoMono-Medium.ttf") format("truetype"); }
header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #040404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 114px;
  left: 0;
  margin-bottom: .35rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 12px 0px 0px 0px; }

  header a {
    text-decoration: none; }
  header .logo {
    font-size: 100%;
    height: 74px; }
  header .logo * {
    vertical-align: middle; }
  header .logo img {
    margin-right: 4px;
    padding: 0px 0px 0px 0px; }
  header h1 {
    background: url("/gcstar_docs/Bar.png") no-repeat;
    margin: -26px 0 0 0;
    font-size: 2.8rem; }
  header nav.shortcuts {
    background: url("/gcstar_docs/Bar.png") no-repeat;
    background-position: right;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: -12px;
    margin-right: 1.5rem;
    padding-top: 3rem; }

    header nav.shortcuts li:last-child {
      margin-right: 0.5rem; }
    header nav.shortcuts li .fa {
      font-size: 1.5rem;
      margin-right: 0.5rem; }
    header nav.shortcuts li a:active,
    header nav.shortcuts li a:focus,
    header nav.shortcuts li a:hover {
      color: #bebcbc; }
    header nav.shortcuts li a {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 3.5rem;
      padding: 0 0.3rem;}
      header nav.shortcuts li a label {
      margin-bottom: 0rem; }

article > aside {
  background-color: #f9f9f9;
  bottom: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 12px;
  padding: 3.5rem 0rem 0rem 0rem;
  position: fixed;
  top: 3.5rem;
  width: 16rem;
  overflow-y: auto; }
  article > aside .menu {
    line-height: 2rem;
    list-style-type: none; }
    article > aside .menu > label {
      display: block;
      font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
      font-weight: 100;
      font-size: 130%;
      margin-left: 1rem; }
    article > aside .menu ul {
      display: none; }
    article > aside .menu > .dd-item {
      margin: 0rem 0px 0rem 0px; }
    article > aside .menu .dd-item {
      padding-left: 1rem;
      list-style: none;
      font-size: 13px; }
      article > aside .menu .dd-item.alwaysopen > ul {
        display: block; }
      article > aside .menu .dd-item.parent > ul {
        display: block; }
      article > aside .menu .dd-item.active > ul {
        display: block; }
      article > aside .menu .dd-item.active > div {
        background-color: #eee; }
        article > aside .menu .dd-item.active > div * {
          font-weight: bold;
         }
      article > aside .menu .dd-item.haschildren > div {
        margin-left: -20px; }
      article > aside .menu .dd-item div {
        display: flex;
        flex-direction: row; }
        article > aside .menu .dd-item div * {
          line-height: inherit; }
        article > aside .menu .dd-item :hover {
          color: #bebcbc;
          background-color: rgb(79, 78, 78);}
        article > aside .menu .dd-item div i.read-icon {
          display: none; }
        article > aside .menu .dd-item div i.category-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          order: 1;
          width: 20px;
          cursor: pointer; }
        article > aside .menu .dd-item div a {
          display: flex;
          flex: 1;
          order: 2;
          padding: 0 0.3rem;
          text-decoration: none; }
          article > aside .menu .dd-item div a:hover, article > aside .menu .dd-item div a:focus, article > aside .menu .dd-item div a:active {
            border-radius: .2rem; }
        article > aside .menu .dd-item div i.category-icon:active,
        article > aside .menu .dd-item div i.category-icon:focus,
        article > aside .menu .dd-item div i.category-icon:hover {
          background-color: rgb(222, 20, 20);
          border-radius: .2rem; }
      article > aside .menu .dd-item li {
        border-left: 1px solid #eee; }
  article > aside section {
    margin: 0.5rem -1.5rem;
   }

/*!
 * facette-docs - Facette project documentation
 * Website: http://docs.facette.io/
 */
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

body {
  background-color: #fff;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.5rem; }

:disabled {
  pointer-events: none; }

a {
  color: inherit; }

a:focus {
  outline: 0; }

section ol,
section ul {
  padding: 0 1.5rem; }
section ul {
  list-style-type: square; }

section a {
  color: #2980b9; }

section strong {
  font-weight: 500; }

.nav-select {
  background: #9bb3df;
  display: none; }

select {
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

.searchbox {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem;
  padding-top: 0rem;
  color: #012a3c;
  text-align: center; }

.searchbox input {
  border: 1px solid #cccccc;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  width: 75%; }

.searchbox span {
  position: absolute;
  float: right;
  margin-top: -45px;
  right: 30px;
  cursor: pointer; }

#sidebar-toggle-span {
  display: none; }

#navigation {
  margin-top: 3rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  #navigation a {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0px;
    align-items: baseline;
    color: #e5e5e5; }
    #navigation a i {
      font-size: 2em;
      margin: auto; }
    #navigation a label {
      margin: auto;
      flex-grow: 2;
      align-self: stretch;
      font-size: 1.3rem; }
  #navigation a.nav-next {
    text-align: right; }

.burger {
  display: none; }

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 7rem; }

article section.page {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  margin: 0 0 0 16rem;
  overflow-y: auto;
  padding: 2rem 2rem; }
  article section.page h1:first-of-type {
    margin: 0.5rem 0rem;
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #060606;
    font-weight: 200;
    font-size: 2rem;
    line-height: 2.7rem; 
    border-bottom: 0px; }
  article section.page h1 {
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    scroll-margin-top: 120px; /* ajust anchor location to header height */
    color: rgb(108, 123, 139);
    border-bottom: 3px solid orange; }
  article section.page h2 {
    margin-top: 1rem;
    margin-left: 10px;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    scroll-margin-top: 120px; /* ajust anchor location to header height */
    color: rgb(108, 123, 139); 
     }
  article section.page h3 {
      margin-top: 1rem;
      margin-left: 15px;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 700;
      scroll-margin-top: 120px; /* ajust anchor location to header height */
      color: rgb(108, 123, 220); }
  article section.page table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e6e6e6; }
    article section.page table th,
    article section.page table td {
      padding: 0.25rem 0.75rem; }
    article section.page table th {
      padding: 0.5rem;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      font-weight: 800;
      background: #f6f6f6;
      color: black;
      border-bottom: 2px solid #e5e5e5; }
    article section.page table td {
      padding: 0.5rem;
      vertical-align: middle;
      border-bottom: 1px solid #e5e5e5;
      border: 1px solid #e6e6e6;
      color: #323232; }
    article section.page table td:first-child code {
      background-color: transparent;
      padding: 0; }
  article section.page img {
    border: 0;
    max-width: 100%;
    margin: 3rem auto;
    display: block;
    text-align: center; }
    article section.page img.border {
      border: 2px solid #e6e6e6 !important;
      padding: 2px; }
    article section.page img.shadow {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }
    article section.page img.inline {
      display: inline !important;
      margin: 0 !important;
      vertical-align: bottom; }
    article section.page img.inline {
      display: inline !important;
      margin: 0 !important;
      vertical-align: bottom; }
  article section.page code {
    font-family: "RobotoMono", monospace; }
  article section.page p { margin: 6px; margin-left: 16px; }
  article section.page p strong { color: rgb(205, 173, 0); }
  article section.page p > code,
  article section.page li code,
  article section.page table code {
    padding: 0 0.25rem; }
  article section.page ul { margin-top: 0px; margin-left: 10px; }
  article section.page pre {
    background-color: #eee;
    border-radius: .2rem;
    color: #444;
    overflow: auto;
    padding: .3rem;
    margin: 12px;
    margin-left: 16px; }
    article section.page pre .copy-to-clipboard {
      float: right;
      position: relative;
      right: 0px; }
  article section.page pre[class*="language-"] {
    background-color: #333;
    color: #eee;
    overflow: auto;
    padding: .5rem;
    text-overflow: ellipsis; }
  article section.page pre.language-headers {
    background-color: #444;
    color: #ddd; }
  article section.page pre.language-headers + pre {
    border-radius: 0 0 .2rem .2rem;
    margin-top: -1.7rem;
    padding-top: .52rem;
    position: relative; }
  article section.page code[class*="language-"],
  article section.page pre[class*="language-"] {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre; }
  article section.page code { color: blue; }
.anchor {
  color: #2053AB;
  font-size: 0.5em;
  cursor: pointer;
  visibility: hidden;
  vertical-align: middle;
  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
  -ms-transition: color 0.35s ease;
  transition: color 0.35s ease; }

.anchor:hover {
  color: #238fbd;
  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
  -ms-transition: color 0.35s ease;
  transition: color 0.35s ease; }

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  visibility: visible; }

.tooltipped {
  position: relative; }

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased; }

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent; }

.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:active:before,
.tooltipped:active:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
  display: inline-block;
  text-decoration: none; }

.tooltipped-s:after,
.tooltipped-se:after,
.tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px; }

.tooltipped-s:before,
.tooltipped-se:before,
.tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8); }

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-sw:after {
  margin-right: -15px; }

.tooltipped-n:after,
.tooltipped-ne:after,
.tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.tooltipped-n:before,
.tooltipped-ne:before,
.tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8); }

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-nw:after {
  margin-right: -15px; }

.tooltipped-s:after,
.tooltipped-n:after {
  transform: translateX(50%); }

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  transform: translateY(50%); }

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8); }

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%); }

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8); }

footer {
  color: #aaa;
  font-size: .95rem;
  margin: 0 1rem 0 16rem;
  padding: 1rem 2rem; }
  footer p {
    margin: 0px; }
  footer .footline {
    /*border-top: 1px solid #e6e6e6;*/
    margin: 0rem;
    padding: 0;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer .footline .tags {
      order: 1; }
    footer .footline .tags a:before {
      content: "#"; }
    footer .footline .author {
      order: 3; }
    footer .footline .github-link {
      order: 4; }
    footer .footline .date {
      order: 3; }

div.notices {
  margin: 1rem 0;
  position: relative;
  border-radius: .2rem;
  color: #fff;
  padding: .5rem 1rem .5rem 1rem;
  position: relative; }

div.notices p {
  padding: 0px;
  display: block;
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

div.notices p:first-child:before {
  position: absolute;
  top: -27px;
  color: #fff;
  font-family: FontAwesome;
  content: '';
  left: 10px; }

div.notices p:first-child:after {
  position: absolute;
  top: -27px;
  color: #fff;
  left: 2rem; }

div.notices.info p:first-child:after {
  content: 'Info'; }

div.notices.warning p:first-child:after {
  content: 'Warning'; }

div.notices.note p:first-child:after {
  content: 'Note'; }

div.notices.tip p:first-child:after {
  content: 'Tip'; }

div.notices.note {
  border-top: 30px solid #6bb1e0;
  background: #e6f3fb;
  color: rgba(47, 103, 141, 0.995) !important; }

div.notices.info {
  border-top: 30px solid #f1b37e;
  background: #fefaf5;
  color: rgba(150, 90, 38, 0.995) !important; }

div.notices.tip {
  border-top: 30px solid #84c578;
  background: #e8f7e6;
  color: rgba(72, 125, 63, 0.995) !important; }

div.notices.warning {
  border-top: 30px solid #d58181;
  background: #fbeded;
  color: rgba(132, 56, 56, 0.995) !important; }

ul.children.children-card {
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  ul.children.children-card > span {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    width: 40%;
    min-width: 250px;
    margin: 1rem 1rem;
    border: 0.1rem solid #ccc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }
    ul.children.children-card > span card {
      margin: 0px 0px;
      display: block;
      padding: 1rem;
      background-color: #eee;
      font-size: 200%; }
    ul.children.children-card > span p {
      padding: 0rem 1rem; }

@media (max-width: 1024px) {
  section {
    margin-right: 0; }

  section > .toc {
    display: none; } }
@media (max-width: 768px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  article > aside {
    display: none; }

  footer {
    display: none; }

  article > section.page {
    margin: 0 10px 0 0;
    padding: 1rem; }

  article > section.page #navigation label {
    display: none; }

  section {
    margin: 0;
    padding: 1rem 2rem; }

  header {
    padding: -1 0rem; }

  header > nav.shortcuts {
      margin-right: 1rem; }

  header > nav.shortcuts > li a {
    width: 3.5rem; }

  header > nav.shortcuts > li .fa {
    margin: 0; }

  header > nav.shortcuts > li > a > label {
    display: none; }

  header > nav.shortcuts > li > a {
    max-width: 32px; }

  .nav-select {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: -10px;
    padding: 6px 0 4px 10px; }

  .nav-select select {
    display: flex;
    text-align: center; }

  article img {
    margin-left: -1rem;
    margin-right: -1rem; } }

/*# sourceMappingURL=style.css.map */
