<header>
  <div class="logo">
    {{ partial "header.html" . }}
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  {{- with .Site.Menus.shortcuts}}
    <nav class="shortcuts">
        {{- range sort . "Weight"}}
            <li class="" role="">
                <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                  {{safeHTML .Name}}
                </a>
            </li>
        {{- end}}
    </nav>
  {{- end}}
</header>
<article>
  <aside>
    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
          <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
            <div>
              <a href="{{"/" | relLangURL}}">
                <i class="fa fa-fw fa-home"></i>
              </a>
            </div>
          </li>
      {{- end}}

      {{- partialCached "menu.html" . }}

    </ul>
    
    {{- partial "language-selector.html" . }}
    <section>
        {{- partial "gcstar/menu-footer.html" . }}
    </section>
  </aside>
  <section class="page">
    
    <div class="nav-select">
        <select onchange="javascript:location.href = this.value;">
          <option value="{{ "" | absLangURL}}" ><b>^^^</b></option>
          {{partial "gcstar/selectnavigation.html" .}}
        </select>
    </div>
    <div class="nav-select">
        {{- partial "language-selector.html" . }}
    </div>

    {{if not .IsHome}}<h1>{{.Title}}</h1>{{end}}
