<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<title>{{ .Title }} :: {{ .Site.Title }}</title>
<link rel="shortcut icon" href="{{"images/gcstar_32x32.png" | relURL}}" type="image/x-icon" />
<link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
<link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
<link href="{{(printf "theme-%s/style.css" (.Site.Params.themeStyle| default "flex")  ) | relURL}}" rel="stylesheet">
{{with .Site.Params.themeVariant}}
	<link href="{{(printf "theme-%s/variant-%s.css" ($.Site.Params.themeStyle| default "flex") .) | relURL}}" rel="stylesheet">
{{end}}
<link rel="stylesheet" href="{{"css/bootstrap.min.css" | relURL}}">
{{ partial "custom-head.html" . }}
