{{- if not .Site.Params.disableSearch}}
      <div>
        <div class="searchbox">
          <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
        </div>
      </div>
    {{- end}}
<center>


